# Copy this file to `.env` and fill with secure values.

# Keycloak
KEYCLOAK_ADMIN=admin@example.com
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_STRONG
KEYCLOAK_CLIENT_ID==CHANGE_ME_CLIENT_ID
KEYCLOAK_CLIENT_SECRET=CHANGE_ME_LONG_RANDOM
KEYCLOAK_REALM==CHANGE_ME_REALM_NAME

# Keycloak DB (per evitare password in keycloak.conf)
KC_DB_USERNAME=CHANGE_ME_DB_USERNAME
KC_DB_PASSWORD=CHANGE_ME_DB_PSW
KC_DB_URL=CHANGE_ME_DB_URL
KC_HOSTNAME=CHANGE_ME_HOSTNAME

# Postgres (Keycloak)
POSTGRES_KEYCLOAK_PASSWORD=CHANGE_ME_STRONG
POSTGRES_KEYCLOAK_DB=CHANGE_ME_DB
POSTGRES_KEYCLOAK_USER=CHANGE_ME_USER

# Postgres (HAPI FHIR)
HAPI_DB_USER=CHANGE_ME_DB_USER
HAPI_DB_PASSWORD=CHANGE_ME_DB_PSW
HAPI_DB_NAME=CHANGE_ME_DB_NAME

# Redis
REDIS_PASSWORD=CHANGE_ME_STRONG

# JWT
JWT_SECRET=CHANGE_ME_64_HEX_OR_BASE64

#OIDC token

OIDC_TOKEN_ISSUER=CHANGE_ME

#ZAMMAD CONFIG
ZAMMAD_TOKEN_SERVICE=CHANGE_ME
ZAMMAD_BASE_URL=CHANGE_ME
ZAMMAD_ADMIN_EMAIL=CHANGE_ME
ZAMMAD_INTERVAL_POLLING=CHANGE_ME

#TOTP CTCAE PROPS
OTP_MAIL_FROM=noreply-pascale@admin.it
OTP_MAIL_HOST=smtp.gmail.com
OTP_MAIL_PORT=587
OTP_MAIL_TLS=REQUIRED
OTP_MAIL_USER=i3.irccs.test@gmail.com
OTP_MAIL_PSW=bzvzpeuvqjycgdhi